* {
    margin: 0;
    padding: 0;
}
.content {
    max-width: 1440px;
    margin: 0 auto;
}
body {
    max-width: 1450px;
    margin: 0 auto;
}
.title__body {
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
}
.table {
    display: flex;
}
.table__title {
    width: 200px;
    height: 50px;
    display: flex;
    align-self: center;
    border: 1px solid black;
}
.table__number {
    width: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 12px 20px 0 2px;
    text-align: right;
}
.table__name {
    padding-right: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
.table__items {
    display: flex;
    margin: 1px 0 1px 0;
}
.table__clear {
    width: 150px;
    height: 50px;
    border: 1px solid black;
    display: flex;
}
.table__clear-item {
    border: 1px solid black;
    width: 33.333%;
}
.title-main {
    margin-bottom: 5px;
    border: 1px solid black;
}
.last-item {
    height: 100px;
    margin: 0;
}
.last-item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 18px;
}
.title-main-items {
    margin: 0;
}
